<!DOCTYPE html>
<html>
<head>
	<title>StepMania scores for {{ name }}</title>
	<style>
	{% include 'stylesheet.css' %}
	</style>
</head>
<body>
	<p>Last updated on {{ last_played }}</p>
	<table>
		<thead>
		<tr>
			<th></th>
			<th></th>
			{% for diff in difficulties %}
			<th colspan=8>{{ diff }}</th>
			{% endfor %}
		</tr>
		<tr>
			<th>Group</th>
			<th>Title</th>
			{% for diff in difficulties %}
			<th>Grade</th>
			<th>Percent</th>
			<th>Marvelous</th>
			<th>Perfect</th>
			<th>Great</th>
			<th>Good</th>
			<th>Boo</th>
			<th>Miss</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for song in songs %}
		<tr>
			<td>{{ song.group }}</td>
			<td class="title">{{ song.title }}</td>
			{% for score in song.scores %}
			<td class="{{ score.diff }} grade">{{ score.grade }}</td>
			<td class="{{ score.diff }} percent">{{ score.perc }}</td>
			<td class="{{ score.diff }}">{{ score.W1 }}</td>
			<td class="{{ score.diff }}">{{ score.W2 }}</td>
			<td class="{{ score.diff }}">{{ score.W3 }}</td>
			<td class="{{ score.diff }}">{{ score.W4 }}</td>
			<td class="{{ score.diff }}">{{ score.W5 }}</td>
			<td class="{{ score.diff }}">{{ score.Miss }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
</body>
</html>
